<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="NotionPool-CS" />
        <meta property="og:description" content="Application to setup a Notion Template with information from the UoL:TULIP database about UOL CS courses" />
        <meta property="og:image" content="{{ url_for('static', filename='notionlogo.png') }}" />

        <title>{% block title %}{% endblock %} | NPCS</title>

        <link rel="icon" href="{{ url_for('static', filename='notionlogo.ico') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="navbar">
        <a href="https://www.notion.so/{{ homepage }}">Homepage</a>
        <a class="selected" href="/">Settings</a>
        <h1>NotionPool - CS</h1>
    </div>
    
    <main>
        <div id="notifications"></div>  
        {% block content %} {% endblock %}
    </main>

    </body>
    <footer>
        <script src="{{ url_for('static', filename='script.js') }}"></script> 
    </footer>
</html>