{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if not loggedIn %} 
        <h1> <a href="https://api.notion.com/v1/oauth/authorize?client_id=10bd872b-594c-80e6-b3fc-00378ee93408&response_type=code&owner=user&redirect_uri=https%3A%2F%2Fnotionpoolcs.onrender.com%2Fnotioned">Add to Notion</a> </h1> 
    {% else %}
        <div class="row">
            <div class="column">
                <h1> Modules </h1>
                {% if not modules %}
                    <p>You have no modules, use the panel across and add some </p>
                {% else %}
                    {% for year in modules %}
                        <h2>{{ year }}</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Module</th>
                                    <th scope="col">Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for module in modules[year] %}
                                <tr>
                                    <td>{{ module['moduleID'] }}</td>
                                    <td>
                                        {% if module['pushed'] %}
                                            <a href="https://www.notion.so/{{ module['moduleNotionID'] }}" target="_blank">notion.so</a>
                                        {% else %}
                                            <form method="POST">
                                                <input type="hidden" name="moduleID" value="{{ module['moduleID'] }}">
                                                <button type="submit" name="action" formaction="/pushcourse">Push to Notion</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="column">
                <br>
                <div class="container">
                    <form method="POST">
                        <label for="startYear">Starting Year: </label>
                        <select id="startYear" name="startYear" value="{{currentStartYear}}">
                            {% for startYear in startYears %}
                                <option value="{{startYear}}" {% if startYear == currentStartYear %} selected="true" {% endif %}>{{startYear[0:4]}}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="action" formaction="/changestartyear">Submit</button>
                    </form>
                </div>
                <br>
                
                <div class="container">
                    <form method="POST">
                        <label for="code">Course Code: </label>
                        <input type="text" id="code" name="code" autocomplete="off" spellcheck="false"><br>
                        <input type="checkbox" id="push" name="push" value="true">
                        <label for="push">Auto push to Notion</label><br>
                        <button type="submit" name="action" formaction="/newcourse">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}