{% extends "base.html" %}
{% block title %}Setting{% endblock %}
{% block content %}
    
    <br>
    <div class="container">
        <form method="POST">
            <label for="startYear">Starting Year: </label>
            <select id="startYear" name="startYear" value="{{currentStartYear}}">
                {% for startYear in startYears %}
                    <option value="{{startYear}}" {% if startYear == currentStartYear %} selected="true" {% endif %}>{{startYear[0:4]}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="action" formaction="/changestartyear">Submit</button>
        </form>
    </div>

    <br>
    <div class="container">
        <form method="POST">
            <label for="code">Course Code: </label>
            <input type="text" id="code" name="code" autocomplete="off" spellcheck="false"><br>
            <input type="checkbox" id="push" name="push" value="true">
            <label for="push">Auto push to Notion</label><br>
            <button type="submit" name="action" formaction="/newcourse">Submit</button>
        </form>
    </div>
{% endblock %}